<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TrashMap</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/trash.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/trash_map" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/trashmapproject/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          <!--<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>-->
          <a href="https://medium.com/@trashmapproject" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<img src="img/onlinelogomaker-061319-1342-8071-2000-transparent.png">-->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>TRASHMAP</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="#map"><a href="/map">Launch Map</a>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">Purpose</a></li>
          <li><a href="#services">Sustainable Development Goals</a></li>
          <li><a href="#why-us">Why Care</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#footer">Contact Us</a></li>
          <!--<li><a href="/login" target="_blank">LOGIN</a></li>-->
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>TrashMap<br>Mapping India's Bins</h2>
          <h4>The TrashMap project aims at mapping dustbins and waste management centres in the country</h4>
          <div>
          	<a href="/map" class="btn-get-started scrollto">Launch Map</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/onlinelogomaker-061319-1342-8071-2000-transparent.png" width="1000" height="1000" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Purpose Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="img/waste.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>Purpose</h2>
              <h3>TrashMap aims to map dustbins present all over India</h3>
              <p>The project aims to map trashbins all over India and provide relevant information to concerned civic authorities </p>
              <p>This is an Open Source Project started in 2019 whose primary goal is to map trashbins present in the city of Bengaluru and provide information to the relevant civic authorities.Through this venture we are hopeful of facilitating the installation of dustbins. We are also hopeful that this would be useful for better waste management practices.</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->
    <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3U8Wl3V8d8E" allowfullscreen></iframe>
        </div>


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Sustainable Development Goals</h3>
          <p>The Sustainable Development Goals (SDGs), otherwise known as the Global Goals, are a universal call to action to end poverty, protect the planet and ensure that all people enjoy peace and prosperity.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #89eb8a;"><i class="ion-ios-pulse" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Good Health and Well-Being of People</a></h4>
              <p class="description">Ensure healthy life and promote well-being for all at all ages</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-alert" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Cleanliness and Sanitation in Urban Areas</a></h4>
              <p class="description">Ensure availability and sustainable management of water and sanitation for all</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-home" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sustainability of Cities and Communities</a></h4>
              <p class="description">Make cities and human settlements inclusive, safe, resilient and independent</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-people" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Consumer's Responsibilities</a></h4>
              <p class="description">Ensure sustainable consumption and production patterns</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-android-warning" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Prevention of Degradation in Environment</a></h4>
              <p class="description">Take urgent action to combat climate change and its impact</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"> <i class="ion-earth" style="color: #2282ff;"></i> </div>
              <h4 class="title"><a href="">Clean Water and Land</a></h4>
              <p class="description">Protect, restore and promote sustainable use of land and water for sustainable development</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why should you care?</h3>
          <p>Each person generates an average 1 kilogram of waste per day. That's enough waste to fill 2,85,000 trucks. If we were to put them in a row, the line would go from Kashmir to Kanyakumari.</p>

        
          
        <section>
          <p>Part of the waste gets recycled but a huge amount of it ends up on illegal dumps. Their are more than 60+ dump sites with both Municipal and Indsutrial wastes, in Bangalore city alone.<br>
          TrashMap is an environmental project which aims to map all bins all around the city of Bangalore and help citizens keep their localities clean.</p>
          <div class="features wow bounceInUp clearfix">
              <i>
                <img src="img/icon-shopper.png" width="90" height="90">
              </i>
                <h4>Gathering Resources</h4>
                <p>Mapping project requires both human and resources, to gather information and technology resources, to store and manage resources.</p>
              </div>

          <div class="features wow bounceInUp clearfix">
                <i>
                  <img src="img/icon-shopper1.png" width="90" height="90">
                </i>
                <h4>Sustainability</h4>
                <p>Interest of long-term sustainability, applicability and accuracy, community groups should establish data management subcommitee for overall community association.</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i>
                  <img src="img/icon-shopper2.png" width="90" height="90">
                </i>
                <h4>Methodology</h4>
                <p>Decision Methodology of extraction of information, planning and volunteering groups to determine what information is essential to building-to-building data sheet.</p>
              </div>             
          
        </section>
      </header>

    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">What is TrashMap all about? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                Gives an environment to view dustbins in your locality and also have feasibility to add images of the newly installed bins in your locality with a location marker on the map.<br>
                A small description of the bin should also be specified while adding the image.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">How does the map show us the marked bins? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                All the bins are mapped on to a custom map, created for it.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">How can I map a new dustbin? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                Once you click on the map, a pop-up will appear asking for dustbin details and an image.<br>
                The image uploaded must be of good quality and our team will procees the image mark the dustbin.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">Can I volunteer to the project? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
              Check out the opportunities section in the webpage to know more about the volunteering process.</p>
                
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">How can I contribute? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
               Become a volunteer and help us locating dustbins in your vicinity. Images you upload will help us finetune our process for identifying dustbins. 
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- #faq -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>TrashMap</h3>
                    <p>Trash Map is an open source project which can be used to map all the dustbins in your locality, neighborhood and report to relevant authorities.
                    The website gives you an environment to view the nearby bins and also to add images of the bins, if newly installed.
                    It will be updates into the maps with few of it's descriptions and will be locatable by other users.
					Location of dustbins are connected with map.
					Report the trash or dumps on Trash Map Website.
					It's a user-friendly website, easy to use which gives all the feasibility structure to people using the website.
					</p>
                  </div>

                  <!--<div class="footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                  </div>-->

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <!-- <li><a href="#">About us</a></li> -->
                      <li><a href="/team" target="_blank">Team</a></li>
                      <li><a href="/opportunities" target="_blank">Opportunities</a></li>
                      <!-- <li><a href="#">Services</a></li> -->
                      <li><a href="#">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      Opencube Labs <br>  
                      8th Cross Rd, Bhuvaneswari Nagar <br>
                      Dasarahalli, Bangalore - 560092<br>
                      INDIA <br>
                      <strong>Phone:</strong> +91 85532 36639<br>
                      <strong>Email:</strong> suraj@ocl.space<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://twitter.com/trash_map" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/trashmapproject/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <!--<a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
                    <a href="https://medium.com/@trashmapproject" target="_blank" class="medium"><i class="fa fa-medium"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Queries</h4>
              <p>Contact us by sending a message and we will get back to you</p>
              <form action="/message" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="mesg" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <!--
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  -->
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>